html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* 
Open Sans:400,700
Rubik: 500,700
*/

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #616777;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  font-family: 'Rubik', sans-serif;
  color: #FFB800;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 8px 24px;
  min-width: 115px;
  height: 46px;
  border: 1px solid #FFB800;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
  color: #FFFFFF;
}

.header {
  background-color: #E5E5E5;
  background-image: url(../images/header-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 46%;
  height: 840px;
  margin-bottom: 80px;
}

.header__img {
  position: absolute;
  top: 165px;
  right: 380px;
  height: 674px;
}

.header__top-inner {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin-left: 368px;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  font-size: 16px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575C74;
}

.menu__list-link:hover {
  color: #FFFFFF;
  background-color: #1B5FC1;
  border-radius: 5px;
  padding: 8px 15px;
}

.header__content-inner {
  max-width: 555px;
  margin-right: auto;
  padding-top: 217px;
}

.header__subtitle {
  margin-bottom: 30px;
  color: #FFB800;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}

.header__title {
  margin-bottom: 40px;
  font-family: 'Rubik', sans-serif;
  color: #0C122D;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
}

.header__text {
  margin-bottom: 54px;
  font-family: 'Open Sans', sans-serif;
  color: #575C74;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.header__button {
  margin-right: 28px;
}

.about {
  margin-bottom: 80px;
}

.about__items {
  margin-bottom: 132px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  width: 262px;
  padding-left: 60px;
  position: relative;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.about__item--box::before {
  background-image: url('../images/about-item-box.svg');
}

.about__item--checked::before {
  background-image: url('../images/about-item-checked.svg');
}

.about__item--operator::before {
  background-image: url('../imagesabout-item-operator.svg');
}

.about__item--card::before {
  background-image: url('../images/about-item-card.svg');
}

.about__item-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #0C122D;
  font-weight: 700;
  margin-bottom: 15px;
}

.about__item-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #575C74;
  line-height: 22px;
  font-weight: 400;
}

.about__function-top {
  background-color: #FFFFFF;
  background-image: url(../images/medical-workers.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
}

.function-top--inner {
  max-width: 523px;
  margin-left: auto;
  margin-bottom: 94px;
}

.function__top-title {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #0C122D;
  font-weight: 700;
  margin-bottom: 26px;
}

.function__top-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
  font-weight: 400;
  margin-bottom: 40px;
}

.about__function-bottom {
  background-color: #FFFFFF;
  background-image: url(../images/workers.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.function-bottom--inner {
  max-width: 523px;
}

.function__bottom-title {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #0C122D;
  font-weight: 700;
  margin-bottom: 20px;
}

.function__bottom-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
  font-weight: 400;
  margin-bottom: 40px;
}

.about__info {
  margin-bottom: 80px;
}

.about__sertification {
  display: flex;
  justify-content: space-between;
  max-width: 894px;
}

.sertification__info {
  max-width: 307px;
  padding-top: 40px;
}

.sertification__info::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 147px;
  background-color: #FFB800;
  transform: rotate(90deg);
  margin-top: -63px;
  margin-left: 100px;
}

.sertification__lab-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sertification-fda {
  margin-right: 100px;
}

.sertification-nelson {
  margin-right: 100px;
}

.reasons {
  background-color: #F7FDFB;
  background-image: url(../images/reasons-img.jpg);
  background-repeat: no-repeat;
  background-position: 25.3% top;

}

.reasons__inner {
  max-width: 650px;
  margin-left: auto;
  padding: 10px 0 50px;
}

.reasons__title {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #0C122D;
  font-weight: 700;
  margin-bottom: 32px;
}

.reasons__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
  font-weight: 400;
  margin-bottom: 35px;
}

.reasons__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;
}

.reasons__item {
  width: 312px;
  padding-left: 70px;
  padding-bottom: 27px;
  position: relative;
}

.reasons__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
}

.reasons__item--cup::before {
  background-image: url('../images/reasons-cup.svg');
}

.reasons__item--innovation::before {
  background-image: url('../images/reasons-innovation.svg');
}

.reasons__item--security::before {
  background-image: url('../images/reasons-security.svg');
}

.reasons__item--life::before {
  background-image: url('../images/reasons-life.svg');
}

.reasons__item-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #0C122D;
  font-weight: 700;
  margin-bottom: 15px;
}

.reasons__item-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #575C74;
  line-height: 22px;
  font-weight: 400;
}

.motivation {
  background-color: #F7FDFB;
  margin: 23px 0 120px;
}

.motivation__bloqvote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.motivation__title {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #0C122D;
  font-weight: 700;
  margin: 88px auto 0;
  ;
}

.motivation__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
  font-weight: 400;
  max-width: 664px;
  margin: 35px auto;
}

.motivation__text-bottom {
  padding-left: 43px;

}

.contacts {
  background-color: #FFB800;
  height: 133px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.address {
  width: 253px;
  padding-left: 40px;
  position: relative;
}

.address::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 26px;
  height: 32px;
  background-image: url('../images/contact-location.svg');
}

.address__title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #0C122D;
  font-weight: 500;
  margin-bottom: 1px;
}

.address__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #0C122D;
  font-weight: 400;
}

.address::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 52px;
  background-color: #E0E0E0;
  transform: rotate(1deg);
  margin-top: -48px;
  margin-left: 355px;
}

.phone {
  width: 161px;
  padding-left: 40px;
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url('../images/contact-phone.svg');
}

.phone__title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #0C122D;
  font-weight: 500;
  margin-bottom: 1px;
}

.phone__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #0C122D;
  font-weight: 400;
}

.phone::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 52px;
  background-color: #E0E0E0;
  transform: rotate(1deg);
  margin-top: -48px;
  margin-left: 250px;
}

.email {
  width: 181px;
  padding-left: 40px;
  position: relative;
}

.email::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 32px;
  height: 22px;
  background-image: url('../images/contact-email.svg');
}

.email__title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #0C122D;
  font-weight: 500;
  margin-bottom: 1px;
}

.email__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #0C122D;
  font-weight: 400;
}


/* -------------------------------------- */




@media (max-width: 1440px) {
  .header {
    background-size: 100%;
  }

  .header__img {
    position: absolute;
    top: 165px;
    right: 0;
    height: 674px;
  }

  .header__content-inner {
    max-width: 807px;
    padding-top: 217px;
  }

  .reasons {
    background-position: 13.5% top;
  }

  .motivation {
    background-color: #F7FDFB;
    margin: 23px 0 60px;
  }
}

@media (max-width: 1140px) {
  .header__img {
    display: none;
  }

  .about__items {
    margin-bottom: 75px;
  }

  .about__item {
    margin-bottom: 20px;
  }

  .about__function-top,
  .about__function-bottom {
    background-image: none;
  }

  .function-top--inner {
    margin-left: 0;
  }

  .reasons {
    background-image: none;
  }

  .reasons__inner {
    max-width: 650px;
    margin-left: 0;
    padding: 10px 0 50px;
  }
}

@media (max-width: 875px) {
  .header {

    background-size: 116%;

  }

  .about__sertification {
    display: block;
  }

  .sertification__info {
    display: none;
  }

  .sertification-fda,
  .sertification-nelson,
  .sertification-cnas {
    margin-right: 50px;
  }

  .reasons__title,
  .motivation__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
  }

  .reasons__text,
  .motivation__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 35px;
  }

  .reasons__items {
    margin-bottom: 10px;
  }

  .reasons__item-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .reasons__item-text {
    font-size: 15px;
    line-height: 18px;
  }

  .contacts {
    height: auto;
  }

  .address,
  .phone {
    padding-left: 0;
  }

  .address__title,
  .phone__title,
  .email__title {
    font-size: 16px;
    line-height: 22px;
  }

  .address::before,
  ::after,
  .phone::before,
  ::after,
  .email::before,
  ::after {
    display: none;
  }

  .address__text,
  .phone__text,
  .email__text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {

  .header {
    background-size: 118%;
  }

  .header__img {
    position: absolute;
    top: 200px;
    left: 450px;
    height: 473px;
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    display: block;
    text-align: center;
    background-color: teal;
    transform: translateY(-200%);
    transition: all .1s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .menu__list-item+.menu__list-item {
    margin-left: 0;
  }

  .menu__list-link {
    display: block;
    padding: 5px 0;
    color: #fff;
  }

  .menu__btn {
    display: block;
    border-color: transparent;
    border: none;
    padding: 0;
  }

  .header__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .header__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 18px;
  }

  .header__text {
    margin-bottom: 36px;
    max-width: 394px;
    font-size: 11px;
    line-height: 24px;
  }

  .button {
    font-size: 10px;
    line-height: 20px;
    height: 36px;
  }

  .function-top--inner {
    margin-bottom: 30px;
  }

  .function__top-title,
  .function__bottom-title {
    font-size: 46px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .function__top-text p,
  .function__bottom-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .contacts {
    height: auto;
  }

  .address,
  .phone {
    padding-left: 0;
  }

  .address__title,
  .phone__title,
  .email__title {
    font-size: 12px;
    line-height: 14px;
  }

  .address::before,
  ::after,
  .phone::before,
  ::after,
  .email::before,
  ::after {
    display: none;
  }

  .address__text,
  .phone__text,
  .email__text {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 480px) {

  .header {
    background-size: 178%;
    height: 500px;
    margin-bottom: 10px;
  }

  .header__img {
    display: none;
  }

  .header__content-inner {
    max-width: 555px;
    margin-right: auto;
    padding-top: 80px;
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    display: block;
    text-align: center;
    background-color: teal;
    transform: translateY(-200%);
    transition: all .1s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .menu__list-item+.menu__list-item {
    margin-left: 0;
  }

  .menu__list-link {
    display: block;
    padding: 1px 0;
    color: #fff;
  }

  .header__subtitle {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 12px;
  }

  .header__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 14px;
  }

  .header__text {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
  }

  .button {
    font-size: 10px;
    line-height: 12px;
    height: 32px;
  }

  .about__items{
    display: block;
  }

  .function-top--inner {
    margin-bottom: 30px;
  }

  .function__top-title,
  .function__bottom-title,
  .reasons__title,
  .motivation__title {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 18px;
  }

  .function__top-text p,
  .function__bottom-text p,
  .reasons__text,
  .motivation__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .reasons__item-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .reasons__item-text {
    font-size: 12px;
    line-height: 14px;
  }

  .contacts {
    height: auto;
  }

  .contact__inner {
    display: block;
  }

  .address {
    padding-left: 0;
    margin-bottom: 15px;
  }

  .address__title,
  .phone__title,
  .email__title {
    font-size: 12px;
    line-height: 14px;
  }

  .address::before,
  ::after,
  .phone::before,
  ::after,
  .email::before,
  ::after {
    display: none;
  }

  .address__text,
  .phone__text,
  .email__text {
    font-size: 10px;
    line-height: 12px;
  }
}